.discography {
  display: flex;
  flex-wrap: wrap;

  .discography__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    .item__img {
      margin: 20px;
      width: 200px;
    }
    .item__title {
      color: white;
    }
  }
}
