.home {
  .home__img {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .home__title {
    width: 100%;
    position: absolute;
    top: -120px;
    font-size: 300px;
    color: #f6544c;
    text-align: center;
    opacity: 0.7;
  }
}
