$color-detail: #f55110;
.band-profile {
  min-width: 500px;
  display: flex;
  flex-direction: column;

  color: white;
  padding: 20px 10%;
  .band-profile__top {
    display: flex;
    flex-direction: row;

    padding-bottom: 13px;
    border-bottom: 4px solid $color-detail;
    margin-bottom: 0px;
  }
  .band-profile__middle {
    display: flex;
    flex-direction: column;

    padding-bottom: 20px;
    border-bottom: 4px solid $color-detail;
  }
  .band-profile__bottom {
    display: flex;
    flex-direction: column;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .band-profile {
    .band-profile__top {
      justify-content: space-between;
    }
    .band-profile__middle {
      flex-direction: row;
    }

    .band-profile__bottom {
      flex-direction: row;
    }
  }
}
