$color-detail: #f55110;

.photo {
  width: 100%;
  .photo__title {
    display: flex;
    align-items: center;

    .title__icon {
      font-size: 30px;
      color: $color-detail;
      margin-right: 10px;
    }
  }
  .photo__main {
    display: flex;
    flex-wrap: wrap;

    .main__item {
      margin: 20px;
      margin-left: 0;
      width: 180px;
      filter: grayscale(100%);
    }
    .main__item:hover {
      filter: grayscale(0);
    }
  }

  .photo__show {
    display: flex;
    flex-direction: column;
    align-items: center;
    .show__main {
      display: flex;
      align-items: center;

      padding: 20px 50px;

      .main__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .left__back {
          justify-self: start;
          font-size: 30px;

          &:hover {
            color: $color-detail;
          }
        }
      }

      .main__photo {
        width: 100%;
        max-width: 600px;

        max-height: 600px;
      }

      .arrow {
        margin: 0 10px;
        font-size: 30px;

        &:hover {
          color: $color-detail;
        }
      }
    }

    .show__footer {
      display: flex;
      flex-wrap: wrap;
      align-content: center;

      .footer__item {
        height: 100px;
        filter: grayscale(100%);
        margin: 5px;

        &:hover {
          filter: grayscale(0);
        }
      }
      .color {
        filter: grayscale(0);
      }
    }
  }
}

@media (min-width: 992px) {
  .photo {
    width: 80%;
  }
}
