.songs {
  .songs__top {
    display: flex;

    .top__img {
      width: 200px;
      margin-right: 20px;
    }
  }
  .songs__middle {
    //list syles
  }
  .songs__bottom {
    display: flex;
    .item {
      width: 150px;
      margin-right: 15px;
    }
  }
}
