$color-detail: #f55110;
$main-color: #1a1a1a;
.user-bio {
  display: flex;
  flex-direction: column;

  width: 200px;
  margin-right: 30px;
  .user-bio__top {
    display: flex;
    justify-content: center;

    border-bottom: 3px solid $color-detail;
    padding: 10px 0;
    .top__input {
      background-color: $main-color;
      color: white;
      width: 100%;
      font-family: Arial;
      font-weight: bold;

      border: 2px solid $color-detail;
      border-radius: 5%;

      text-align: center;
      text-transform: capitalize;
      font-size: 25px;

      margin: 0;
      padding: 0;
      &:focus {
        outline: none;
      }
    }

    .top__name {
      text-transform: capitalize;
      font-size: 25px;
      text-align: center;
    }
  }

  .user-bio__middle {
    display: flex;
    justify-content: center;

    margin: 5px 10px;
    .middle__text-area {
      background-color: $main-color;
      color: white;
      font-family: Arial;

      border: 2px solid $color-detail;
      border-radius: 5%;

      font-size: 15px;

      padding: 15px 5px;
      min-width: 170px;
      height: 150px;
      &:focus {
        outline: none;
      }
    }

    .middle__bio {
      font-size: 15px;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  .user-bio__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 10px;

    border-top: 3px solid $color-detail;
    border-bottom: 3px solid $color-detail;

    .bottom__logo {
      display: flex;
      justify-content: center;

      img {
        width: 80%;
      }
    }

    .bottom__name {
      text-transform: capitalize;
      text-align: center;
      font-size: 20px;
      margin: 10px;
    }

    .bottom__text {
      text-align: center;
      font-size: 20px;
      margin: 10px;
    }

    a {
      text-decoration: none;
      color: white;
    }

    .bottom__icon {
      font-size: 80px;
      color: $color-detail;
    }
  }
}
