$color-detail: #f55110;
.band-profile {
  display: flex;
  flex-direction: column;

  color: white;
  padding: 20px 10%;
  .band-profile__top {
    display: flex;
    flex-direction: row;

    padding-bottom: 13px;
    border-bottom: 4px solid $color-detail;
    margin-bottom: 0px;
    .top__logo {
      width: 50%;
    }
    .top__banner {
      display: none;
      width: 50%;

      margin-left: 30px;
    }
    .top__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin-left: 30px;

      .info__name {
        text-transform: uppercase;
        font-size: 80px;
        margin: 0;
      }
    }
  }
  .band-profile__middle {
    display: flex;
    flex-direction: column;
  }
  .band-profile__bottom {
    display: flex;
    flex-direction: column;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .band-profile {
    .band-profile__top {
      .top__logo {
        width: 20%;
      }
      .top__banner {
        display: block;
      }
      .top__info {
        display: flex;
        flex-direction: column;

        margin-left: 30px;
        .info__name {
          font-size: 80px;
        }
      }
    }
    .band-profile__middle {
      flex-direction: row;

      .middle__bio {
        width: 20%;
      }
    }

    .band-profile__bottom {
      flex-direction: row;
      .bottom__concerts {
        width: 20%;
        margin-right: 30px;
      }
    }
  }
}
