.band-profile__container {
  display: flex;
  flex-direction: column;

  color: white;

  padding: 20px;
  .container__top {
    border-bottom: 3px solid #f6544c;

    display: flex;
    flex-direction: row;

    min-width: 750px;

    padding-bottom: 10px;

    .top__logo {
      max-width: 190px;
      flex: 0.2;
      margin-right: 20px;

      display: flex;
      flex-direction: column;

      .logo__img {
        width: 100%;
      }
      .logo__name {
        text-align: center;
        font-size: clamp(40px, 5vw, 50px);
        margin: 0;
      }
    }
    .top__banner {
      flex: 0.8;
      background-image: url(https://pbs.twimg.com/profile_banners/851494228815482880/1539011178/1500x500);
      background-size: 100% 100%;
      background-repeat: no-repeat;

      max-width: 770px;
      margin: 0 auto;

      padding: 15px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      .banner__button {
        background-color: red;
      }
      .banner__text {
        background-color: red;
      }
    }
  }

  .container__bottom {
    display: flex;
    flex-direction: row;

    margin-top: 10px;
    .bottom__bio {
      flex: 0.2;

      .bio__city {
        border-bottom: 3px solid #f6544c;
        padding-bottom: 10px;
        margin: 0;
      }
    }
    .bottom__photos {
      flex: 0.25;
    }
    .bottom__discography {
      flex: 0.35;
    }
    .bottom__concerts {
      flex: 0.2;
    }
  }
}
