$color-detail: #f55110;

.userProfile {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px 10%;

  .userProfile__top {
    display: flex;
    flex-direction: row;

    padding-bottom: 13px;
    border-bottom: 4px solid $color-detail;
    margin-bottom: 0px;
  }

  .userProfile__bottom {
    display: flex;

    .bottom__left {
      display: flex;
      flex-direction: column;

      width: 20%;
      .bio {
        flex: 1;
        width: 100%;
      }

      .left__new-band {
        border-top: 3px solid $color-detail;
      }
    }

    .bottom__right {
      margin: 5px 30px;
    }
  }
}
