$color-detail: #f55110;

.top__logo {
  width: 50%;
}
.top__banner {
  display: none;
  width: 50%;

  margin-left: 30px;
}
.top__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 30%;
  margin-left: 30px;

  .info__name {
    text-transform: uppercase;
    font-size: 80px;
    margin: 0;
  }

  .info__follow {
    .follow__gear {
      font-size: 30px;
      color: $color-detail;
    }

    .follow__container {
      display: flex;
      align-items: center;

      .contanier__icon {
        font-size: 30px;
        margin-right: 10px;
      }

      .white {
        color: white;
      }

      .orange {
        color: $color-detail;
      }
    }
  }
}

@media (min-width: 992px) {
  .top__logo {
    width: 20%;
  }
  .top__banner {
    display: block;
  }
  .top__info {
    display: flex;
    flex-direction: column;

    margin-left: 30px;
    .info__name {
      font-size: 80px;
    }
  }
}
