$color-detail: #f55110;

.concerts {
  width: 200px;
  margin-right: 30px;
  .concerts__title {
    display: flex;
    align-items: center;

    .title__icon {
      font-size: 30px;
      color: $color-detail;
      margin-right: 10px;
    }
  }
  .concerts__main {
    display: flex;
    flex-direction: column;

    .main__item {
      font-size: 20px;
      border-bottom: 2px solid white;
      .item__date {
        margin: 5px;
      }
      .item__city {
        margin: 5px;
        color: #f6544c;
      }
    }
  }
}
