.item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;

  .item__img {
    width: 100%;
  }
  .item__title {
    text-align: center;
    color: white;
  }
}
